<div layout:decorator="layout/main" layout:fragment="content">
	<div class="col-md-6 well">
		<h2>Login</h2>
		<div class="alert alert-success" th:if="${success}">
			<span th:text="${success}"></span>
		</div>
		<div class="alert alert-warning" th:if="${param.error}">
			<p th:if="${param.error}">Invalid Username/Password</p>
		</div>
		
		<form th:action="@{/login}" method="post">
			<div class="form-group">
				<label for="username">Username</label> 
				<input id="username"
					type="text" class="form-control" name="username"></input>
			</div>
			<div class="form-group">
				<label for="password">Password</label> 
				<input type="password"
					id="password" class="form-control" name="password"></input>
			</div>
			<button type="submit" class="btn btn-success">Sign In</button>
		</form>
	</div>
</div>