
<div layout:decorator="layout/main" layout:fragment="content" class="container jumbotron">
	<h1>About Us</h1>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Jackson Murphy &nbsp;<img height="100" width="70" src="http://www3.pictures.zimbio.com/gi/55th+Annual+New+York+Emmy+Awards+Gala+Arrivals+SLZr6ybPdpyx.jpg"/></h3>
	  </div>
	  <div class="panel-body">
	    Skills: React, Node.js
	    <hr/>
	    Responsibilities: Front-end development
	    <hr/>
	    Contact Information: jacksonmurphy1@gmail.com
	  <div>
	</div>
	
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Kelsey Heidarian &nbsp;<img height="100" width="90" src="http://www.eng.utah.edu/~heidaria/Kelsey_Mulligan.JPG"/></h3>
	  </div>
	  <div class="panel-body">
	    Skills: React, Node.js
	    <hr/>
	    Responsibilities: Front-end development
	    <hr/>
	    Contact Information: heidariank@gmail.com
	  </div>
	</div>
	
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Logan Gore &nbsp;<img height="100" width="100" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAj3AAAAJGNiN2E5ZjU0LTg0YTEtNDVkNi1hODkxLTE3NzYzMjdjYjgzYg.jpg"/></h3>
	  </div>
	  <div class="panel-body">
	    Skills: Spring MVC, Node.js, React
	    <hr/>
	    Responsibilities: Maintaining the Spring MVC back end and node.js chat server
	    <hr/>
	    Contact Information: logan.gore171@gmail.com
	  </div>
	</div>
	
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Chris Weeter &nbsp;<img src="https://media.licdn.com/mpr/mpr/shrink_100_100/p/7/005/07f/3cd/1c3e629.jpg"/></h3>
	  </div>
	  <div class="panel-body">
	    Skills: Java, SQL, API development
	    <hr/>
	    Responsibilities: Maintaining the server responsible for making third-party API calls, Helping with Spring MVC back end
	    <hr/>
	    Contact Information: christopher.weeter@gmail.com
	  </div>
	</div>
</div>