
<div layout:decorator="layout/main" layout:fragment="content" class="container jumbotron">
	<h1>About Us</h1>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Jackson Murphy &nbsp;<img height="100" width="100" src="https://avatars0.githubusercontent.com/u/9375536?s=460&amp;v=4"/></h3>
	  </div>
	  <div class="panel-body">
	    Skills: React, Node.js
	    <hr/>
	    Responsibilities: Front-end development
	    <hr/>
	    Contact Information: jacksonmurphy1@gmail.com
		<hr/>
		<a href="https://www.linkedin.com/in/jackson-murphy/">LinkedIn Profile</a>
	  </div>
	</div>
	
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Kelsey Heidarian &nbsp;<img height="100" width="90" src="http://www.eng.utah.edu/~heidaria/Kelsey_Mulligan.JPG"/></h3>
	  </div>
	  <div class="panel-body">
	    Skills: React, Node.js
	    <hr/>
	    Responsibilities: Front-end development
	    <hr/>
	    Contact Information: heidariank@gmail.com
		<hr/>
		<a href="https://www.linkedin.com/in/kelsey-heidarian-18459b102/">LinkedIn Profile</a>
	  </div>
	</div>
	
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Logan Gore &nbsp;<img height="100" width="100" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAj3AAAAJGNiN2E5ZjU0LTg0YTEtNDVkNi1hODkxLTE3NzYzMjdjYjgzYg.jpg"/></h3>
	  </div>
	  <div class="panel-body">
	    Skills: Spring MVC, Node.js, React
	    <hr/>
	    Responsibilities: Developed and maintained the Spring MVC back end and node.js chat server
	    <hr/>
	    Contact Information: logan.gore171@gmail.com
		<hr/>
		<a href="https://www.linkedin.com/in/logan-gore-5a826166/">LinkedIn Profile</a>
	  </div>
	</div>
	
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Chris Weeter &nbsp;<img src="https://media.licdn.com/mpr/mpr/shrink_100_100/p/7/005/07f/3cd/1c3e629.jpg"/></h3>
	  </div>
	  <div class="panel-body">
	    Skills: Java, SQL, API development
	    <hr/>
	    Responsibilities: Developed and maintained the server responsible for making third-party API calls, Helped with the Spring MVC back end
	    <hr/>
	    Contact Information: christopher.weeter@gmail.com
		<hr/>
		<a href="https://www.linkedin.com/in/christopher-weeter-106b959b/">LinkedIn Profile</a>
	  </div>
	</div>
</div>