
<div layout:decorator="layout/main" layout:fragment="content" class="container jumbotron">
	<h1>Tutorials</h1>
	<div class="panel panel-default">
	  <div class="panel-heading">
	  	<p>Onboarding Tutorial</p>
	  </div>
	  <div class="panel-body">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/_exMzAq87u8" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen="true"></iframe>
	  </div>	
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">
	  	<p>Games Tutorial</p>
	  </div>
	  <div class="panel-body">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/98SIJo8RS2w" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen="true"></iframe>	  </div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">
	  	<p>Friends Tutorial</p>
	  </div>
	  <div class="panel-body">
	    <iframe width="560" height="315" src="https://www.youtube.com/embed/JbObd9XXIp4" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen="true"></iframe>
	  </div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">
	  	<p>Chat Tutorial</p>
	  </div>
	  <div class="panel-body">
	    <iframe width="560" height="315" src="https://www.youtube.com/embed/AhMyvDN_sSo" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen="true"></iframe>
	  </div>
	</div>
</div>